# Tools
.settings
.classpath
.project
.idea
.DS_Store

# Java
target

# Sencha
src/main/resources/public/ext
src/main/resources/public/build/development
src/main/resources/public/build/temp
src/main/resources/public/bootstrap.css
src/main/resources/public/bootstrap.js
src/main/resources/public/classic.json
src/main/resources/public/modern.json
src/main/resources/public/sass/example/bootstrap.json
