.app-title {
  font-size: 2em;
}

.header {
  border-bottom: 1px solid #d0d0d0;
}

.main {
  margin: 0 10px 0;
  border-right: 1px solid #d0d0d0;
  border-left: 1px solid #d0d0d0;
}

.footer {
  border-top: 1px solid #d0d0d0;
}

.cell-icon {
  margin-left: 4px;
}

.cell-editing-delete-row:before {
  @extend .cell-icon;
  font: 16px/1 FontAwesome;
  //color: #dd6550;
  color: #FF5722;
  content: "\f056";
}

.cell-detail-row:before {
  @extend .cell-icon;
  font: 16px/1 FontAwesome;
  //color: #4078c0;
  color: #616161;
  content: "\f05a";
}

.framing-buttons-add:before {
  font: 16px/1 FontAwesome;
  //color: #81cb31;
  color: #4CAF50;
  content: "\f055";
}

.icon-dashboard:before {
  font: 16px/1 FontAwesome;
  content: "\f0e4";
}

.icon-activity:before {
  font: 16px/1 FontAwesome;
  content: "\f1ae";
}

.icon-list:before {
  font: 16px/1 FontAwesome;
  content: "\f022";
}

.icon-chart:before {
  font: 16px/1 FontAwesome;
  content: "\f080";
}

.icon-contact:before {
  font: 16px/1 FontAwesome;
  content: "\f095";
}

.icon-case:before {
  font: 16px/1 FontAwesome;
  content: "\f0f2";
}

.icon-deal:before {
  font: 16px/1 FontAwesome;
  content: "\f0d6";
}

.icon-trash:before {
  font: 16px/1 FontAwesome;
  content: "\f1f8";
}

.icon-users:before {
  font: 16px/1 FontAwesome;
  content: "\f007";
}

.icon-company:before {
  font: 16px/1 FontAwesome;
  content: "\f1ad";
}

.icon-merchandise:before {
  font: 16px/1 FontAwesome;
  content: "\f109";
}

.icon-master:before {
  font: 16px/1 FontAwesome;
  content: "\f085";
}