/**
 * Generates a set of style rules for the "navigation" tab UI.
 */

.app-title {
  font-size: 2em;
}

.header {
  border-bottom: 1px solid #d0d0d0;
}

.main {
  margin: 0 10px 0;
  border-right: 1px solid #d0d0d0;
  border-left: 1px solid #d0d0d0;
}

.footer {
  border-top: 1px solid #d0d0d0;
}

.cell-editing-delete-row:before {
  font: 16px/1 FontAwesome;
  color: #dd6550;
  content: "\f056";
}

.framing-buttons-add:before {
  font: 16px/1 FontAwesome;
  color: #81cb31;
  content: "\f055";
}

.icon-dashboard:before {
  font: 16px/1 FontAwesome;
  content: "\f0e4";
}

.icon-activity:before {
  font: 16px/1 FontAwesome;
  content: "\f1ae";
}

.icon-list:before {
  font: 16px/1 FontAwesome;
  content: "\f022";
}

.icon-chart:before {
  font: 16px/1 FontAwesome;
  content: "\f080";
}

.icon-contact:before {
  font: 16px/1 FontAwesome;
  content: "\f095";
}

.icon-case:before {
  font: 16px/1 FontAwesome;
  content: "\f0b1";
}

.icon-deal:before {
  font: 16px/1 FontAwesome;
  content: "\f157";
}

.icon-trash:before {
  font: 16px/1 FontAwesome;
  content: "\f1f8";
}

.icon-users:before {
  font: 16px/1 FontAwesome;
  content: "\f0c0";
}

.icon-company:before {
  font: 16px/1 FontAwesome;
  content: "\f1ad";
}

.icon-merchandise:before {
  font: 16px/1 FontAwesome;
  content: "\f109";
}

.icon-master:before {
  font: 16px/1 FontAwesome;
  content: "\f085";
}
