/**
 * Generates a set of style rules for the "navigation" tab UI.
 */

.app-title {
  font-size: 2em;
}

.header {
  height: 40px;
}

.main {
  margin: 0 10px 0;
}

.footer {
  height: 30px !important;
}




.cell-editing-delete-row:before {
  font: 16px/1 FontAwesome;
  color: #dd6550;
  content: "\f056";
}

